/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Slabo+27px);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #444;
}
h1,h2,h3{
    font-family: 'Shadows Into Light', cursive;
}
h3{
    font-size: 25px;
}
p,a{
    font-family: 'Slabo 27px', serif;
}


#canvas{
    position: relative;
    height: 600px;
    width: 900px;
    background: #f1f1f1;
    margin: 100px auto; 
    overflow: hidden;
}
.layer{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui{
    z-index: 200;
    top: 0;
    width: 20000px;
    height: 600px;
    position: absolute;
    transition: .5s ease;
}
.ui.branch{
    top: -600px;
}
.ui.home{
    left: 0px;
    transition: .5s ease;
}
.ui.begin{
    left: -900px;
    transition: .5s ease;
}
.ui.middle{
    left: -1800px;
    transition: .5s ease;
}
.ui.end{
    left: -2700px;
    transition: .5s ease;
}
.ui.final{
    left: -3600px;
    transition: .5s ease;
}
.front{
    z-index: 150;
}
.front-middle{
    z-index: 100;
}
.back-middle{
    z-index: 50;
}
.back{
    z-index: 1;
}
.back.bedroom{
    background: url('../img/bedroom.jpg');
}
.back.volleyball{
    background: url('../img/volleyball_courts-01.png');
    z-index: 100;
}
.cutScene{
 width: 900px;
 height: 600px;
 display: block;
}
#pizza{
    background: url('../img/cutscene_pizza.png') #796232;
}
#salad{
    background: url('../img/cutscene_salad.png') #796232;
}
.scenario{
    position: relative;
    float: left;
    text-align: center;
    width: 900px;
    height: 600px;
}
.scenario.branched{
    height: 1200px;
}
.scenario ul{
    width: 400px;
    margin: 0px auto;
}
.scenario .option{
    width: 100%;
    height: 100px;
    float: left;
    list-style: none;
    color: #fff;
    float: left;
    margin-bottom: 15px;
}
.altBranch{
    position: absolute;
    width: 100%;
    height: 600px;
    bottom: 0;
    left: 0;
}
.scenHeader{
    width: 100%;
    height: 155px;
    background: rgba(0,0,0,.8);
    color: #f8f8f8;
    margin-bottom: 20px;
}
.scenHeader p{
    margin: 0;
}
.scenHeader h2{
    margin: 0; 
    padding: 5px 20px 0px 20px;
    font-size: 35px;
}
.question{
    width: 80%;
    margin: 0px auto;
    padding: 5px 20px;
    margin-bottom: 20px
}
.opt{
    display: inline-block;
    width: 100%;
    height: 100%;

    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(227,73,43,.95);
    transition: .3s ease;
}
.opt p{
    padding: 5px 15px;
}
.opt:hover{
    background: rgba(227,73,43,1.0);
    -webkit-transform: translate(1px,1px);
    -moz-transform: translate(1px,1px);
    -ms-transform: translate(1px,1px);
    transform: translate(1px,1px); 
    -webkit-filter: drop-shadow(4px 4px 5px black) saturate(1.2);
    -moz-filter: drop-shadow(4px 4px 5px black) saturate(1.2);
    -ms-filter: drop-shadow(4px 4px 5px black) saturate(1.2);
    filter: drop-shadow(4px 4px 5px black) saturate(1.2);
}
.newDay{
    background: #444;
    color: #f8f8f8;
    border: 10px solid #000;
    width: 880px;
    height: 580px;
}
.newDay h1{
    font-size: 55px;
    margin-top: 140px;
}
.newDay a{
    width: 200px;
    height: 50px;
    padding: 20px;
    font-size: 30px;
}

/* ==========================================================================
   Home Page
   ========================================================================== */
.start, .restart{
    padding: 10px 30px;
    font-size: 24px;
    color: #fff;
    background: rgba(227,73,43,1.0);
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;

}

.homeScreen span{
    display: inline-block;
    text-align: center;
    background: #3B653D;
    padding: 40px;
    margin: 40px auto;
    border: 4px solid #be9c16;
}
.homeScreen div{
    display: block;
}

.character{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
}
.shmeldon{
    position: absolute;
    bottom: 0;
    right: 65px;
    width: 300px;
    height: 323px;
    background: url('../img/shmeldon.png');
    display: none;
}
.james{
    position: absolute;
    bottom: -35px;
    right: -70px;
    width: 301px;
    height: 434px;
    background: url('../img/bigJames.png');
    display: none;
}
.james.show,.shmeldon.show{
    display: block;
}
#points{
    position: absolute;
    top: 0px;
    right: 20px;
    display: inline-block;
    display: none;
}
#points img{
    float: right;
    margin-left: 20px;
}
#points div{
    display: block;
    margin: 10px;
}
.character.initial{
    background: url('../img/character.png');
    transition: 1s ease;
}

.character.fat.happy.plain{
    background: url('../img/characterFat.png');
}
.character.fat.happy.sick{
    background: url('../img/charVersions/Fat/happy/happy_sick-01.png');
}
.character.fat.happy.sunburn{
    background: url('../img/charVersions/Fat/happy/happy_sunburn-01.png');
}
.character.fat.perplexed.plain{
    background: url('../img/charVersions/Fat/perplexed/perplexed-01.png');
}
.character.fat.perplexed.sick{
    background: url('../img/charVersions/Fat/perplexed/perplexed_sick-01.png');
}
.character.fat.perplexed.sunburn{
    background: url('../img/charVersions/Fat/perplexed/perplexed_sunburn-01.png');
}
.character.fat.sad.plain{
    background: url('../img/charVersions/Fat/sad/sad-01.png');
}
.character.fat.sad.sick{
    background: url('../img/charVersions/Fat/sad/sad_sick-01.png');
}
.character.fat.sad.sunburn{
    background: url('../img/charVersions/Fat/sad/happy_sunburn-01.png');
}

/*--------------------------------------------*/

.character.skinny.happy.plain{
    background: url('../img/charVersions/Anorexic/happy/happy-01.png');
}
.character.skinny.happy.sick{
    background: url('../img/charVersions/Anorexic/happy/happy_sick-01.png');
}
.character.skinny.happy.sunburn{
    background: url('../img/charVersions/Anorexic/happy/happy_sunburn-01.png');
}
.character.skinny.content.plain{
    background: url('../img/charVersions/Anorexic/content/content-01.png');
}
.character.skinny.content.sick{
    background: url('../img/charVersions/Anorexic/content/content_sick-01.png');
}
.character.skinny.content.sunburn{
    background: url('../img/charVersions/Anorexic/content/content_burn-01.png');
}
.character.skinny.sad.plain{
    background: url('../img/charVersions/Anorexic/sad/sad-01.png');
}
.character.skinny.sad.sick{
    background: url('../img/charVersions/Anorexic/sad/sad-01.png');
}
.character.skinny.sad.sunburn{
    background: url('../img/charVersions/Anorexic/sad/sad-01.png');
}

/*--------------------------------------------*/

.character.regular.happy.plain{
    background: url('../img/charVersions/Regular/happy/happy-01.png');
}
.character.regular.happy.sick{
    background: url('../img/charVersions/Regular/happy/happy_sick-01.png');
}
.character.regular.happy.sunburn{
    background: url('../img/charVersions/Regular/happy/happy_burn-01.png');
}
.character.regular.crazy.plain{
    background: url('../img/charVersions/Regular/perplexed/crazy-01.png');
}
.character.regular.crazy.sick{
    background: url('../img/charVersions/Regular/perplexed/crazy_sick-01.png');
}
.character.regular.crazy.sunburn{
    background: url('../img/charVersions/Regular/perplexed/crazy_burn-01.png');
}
.character.regular.sad.plain{
    background: url('../img/charVersions/Regular/perplexed/perplexed-01.png');
}
.character.regular.sad.sick{
    background: url('../img/charVersions/Regular/perplexed/perplexed_sick-01.png');
}
.character.regular.sad.sunburn{
    background: url('../img/charVersions/Regular/perplexed/perplexed_burn-01.png');
}

/*--------------------------------------------*/

.character.kindaFat.happy.plain{
    background: url('../img/charVersions/KindaFat/happy/happy-01.png');
}
.character.kindaFat.happy.sick{
    background: url('../img/charVersions/KindaFat/happy/happy_sick-01.png');
}
.character.kindaFat.happy.sunburn{
    background: url('../img/charVersions/KindaFat/happy/happy_burn-01.png');
}
.character.kindaFat.crazy.plain{
    background: url('../img/charVersions/KindaFat/perplexed/crazy-01.png');
}
.character.kindaFat.crazy.sick{
    background: url('../img/charVersions/KindaFat/perplexed/crazy_sick-01.png');
}
.character.kindaFat.crazy.sunburn{
    background: url('../img/charVersions/KindaFat/perplexed/crazy_burn-01.png');
}
.character.kindaFat.sad.plain{
    background: url('../img/charVersions/KindaFat/perplexed/perplexed-01.png');
}
.character.kindaFat.sad.sick{
    background: url('../img/charVersions/KindaFat/perplexed/perplexed_sick-01.png');
}
.character.kindaFat.sad.sunburn{
    background: url('../img/charVersions/KindaFat/perplexed/perplexed_burn-01.png');
}

/*--------------------------------------------*/

#finalSum{
    background: rgba(0,0,0,.8);
    width: 70%;
    margin: 20px auto
}
#finalSum p{
    color: #fff;
    padding: 30px;
}
#finalSum ul{
    margin: 0;
    padding: 25px;
    width: 500px;
    margin: 0px auto;
}
#finalSum ul li{
    /*list-style: none;*/
    color: #fff;
    text-align: left;
    margin: 18px 0;
}

/* ==========================================================================
   Room Decor
   ========================================================================== */
   .roomAdtns{display: block;}
   .decor{
        position: absolute;
        top: 0;
        left: 0;
        display: none;
   }
   .decor.show{
        display: block;
   }



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/***************** stage *****************/

